.cell {
  margin: 5px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.cell:hover {
  cursor: pointer;
}

.black {
  background: black;
}

.win-black {
  background: black;
}

.symbol {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 2px 0 0 1px;
  margin: 0;
  color: black;
}

