.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 262px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 7px;
  border: 2px solid black;
  background: gray;

}

.game {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  padding: 10px;
  width: 240px;
  background: silver;
}

.btn-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin: 5px auto;
  min-height: 30px;
}

