<div class="box">
  <div class="game">
    <app-cell
      *ngFor="let cell of sapper; let i = index"
      [symbol] = "cell.symbol"
      [cell] = "cell.cell"
      (total) = "onTotal(i)"
      (cellClass) = "onClass()"
    ></app-cell>
  </div>
  <div class="btn-block">
    <app-button
      (click)="onClickBtn()"
    ></app-button>

    <p class="text">Total: {{ total }}</p>
    <p class="text">{{ win }}</p>
  </div>

</div>
